{{#if wantPropTypes}}
import React, { PropTypes, Component } from 'react';
{{else}}
import React, { Component } from 'react';
{{/if}}
{{#if wantSCSSModules}}
import styles from './index.module.scss';
import cssModules from 'react-css-modules';
{{/if}}
{{#if wantStyledComponents}}
import { StyledWrapper } from './styles';
{{/if}}

class {{ properCase name }} extends Component { // eslint-disable-line react/prefer-stateless-function
  render() {
    return (
      {{#if wantSCSSModules}}
      <div className={{curly true}}styles.{{ camelCase name }}{{curly}}>
      {{else}}
      <div>
      {{/if}}
      </div>
    );
  }
}

{{#if wantPropTypes}}
{{ properCase name }}.propTypes = {

};
{{/if}}

{{#if wantSCSSModules}}
export default cssModules({{ properCase name }}, styles);
{{else}}
export default {{ properCase name }};
{{/if}}
